<div class="nav-bar">
	<div class="nav-bar-contents">
		<div class="title">
			<i style='color:#ff1a1a' class='fa fa-lightbulb-o'></i>
                 	<span style='color:#2cb300'> Ivy</span>Insights
		</div>
		<div class="user-info">
			<div class="checkout" ng-show="user.user">
				<a ng-href="#/checkout">
					<i class="fa fa-bookmark"></i>
				</a>
			</div>
			<div class="user" ng-show="user.user">
				<img ng-src="{{user.user.profile.picture}}">
			</div>
			<div class="login" ng-show="!user.user">
				<a href="/auth/facebook?redirect=%2Fex-9">
					<img src="//i.stack.imgur.com/LKMP7.png">
				</a>
			</div>
		</div>
	</div>
</div>